@page "/taskCreate"
@using TodoList.Models

<h1>Task create</h1>

<EditForm Model="@TaskInfo" OnValidSubmit="@SubmitTask">
    <DataAnnotationsValidator/>@*validation*@
    <!--<ValidationSummary/>-->@*hien thi loi tong*@

    <div class="form-group">
        <label for="Name">Email address</label>
        <InputText class="form-control" placeholder="Enter name" @bind-Value="@TaskInfo.Name"></InputText>
        <ValidationMessage For="()=>TaskInfo.Name"></ValidationMessage>@*hiển thị lỗi từng control*@ 
        <small id="nameHelp" class="form-text text-muted">Please enter task title here.</small>
    </div>
    <div class="form-group">
        <label for="Name">Priority</label>
        <InputSelect class="form-control" @bind-Value="@TaskInfo.Priority">
            <option>Select a priority</option>
            @foreach (var item in Enum.GetNames(typeof(Priority)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <ValidationMessage For="()=>TaskInfo.Priority"></ValidationMessage>
        <small id="nameHelp" class="form-tet text-muted">Chose a priority which you want.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private TasksModel TaskInfo = new TasksModel();
    
    private async Task SubmitTask()
        {
        
        }
}
